
@{
    ViewBag.Title = "subCategories";
    Layout = "~/Areas/adminPanel/Views/Shared/_adminLayout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">

<head>
    <title></title>
    <script src="~/assets/general/js/angular.js"></script>
       @* <script src="~/assets/admin/js/ang/ctr2.js"></script>*@
<script src="~/assets/admin/js/ang/suppliers_sub.js"></script>
    <style>
        h4 {
            color: #456e82;
        }

        h3 {
            color: #5c4f4f;
        }
    </style>

</head>

<body ng-controller="suppliers_sub">

    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <ol class="breadcrumb breadcrumb-2">
                    <li><a><i class="icon-home"></i> القائمه</a></li>
                    <li><a> الموردين</a></li>
                    <li class="active"><a style="color: #ec407a">التصنيفات الفرعيه</a> </li>
                </ol>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong style="color: #5c4f4f">التصنيفات الفرعيه</strong>

                    </div>
                    <div class="row w3-res-tb">


                        <div class="col-lg-3" dir="ltr">


                            <select ng-model="token.mainId" class="form-control" dir="rtl" style="margin-right: 35px; border-radius: 0px">
                                <option value=""> التصنيف الرئيسي</option>
                                <option ng-repeat="x2 in all_main_category" value="{{x2.id}}">{{x2.tasneef_name}}</option>
                            </select>


                            <br />
                        </div>
                        <div class="col-lg-1 col-lg-offset-7" dir="ltr">


                            <button class="btn btn-info" data-target="#add" data-toggle="modal">اضافه</button>


                            <br />
                        </div>


                    </div>
                    <br />
                    <div class="table-responsive">

                        <table class="table table-striped b-t b-light" dir="rtl">
                            <thead>
                                <tr style="background: #ddede0; padding:5px ">
                                    <th><h5 style="padding:5px;" ng-click="sort('id')">الكود <i class="fa {{icon_id}}"></i></h5></th>
                                    <th><h5 style="padding: 5px" ng-click="sort('name')">التصنيف الفرعي <i class="fa {{icon_name}}"></i></h5></th>
                                    <th><h5 style="padding: 5px">تعديل</h5></th>
                                    <th><h5 style="padding: 5px">حذف</h5></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="s in all_sub_category | filter: token | limitTo:limit | orderBy:sortedCol">

                                <tr class="tr" id="tbr">
                                    <td>
                                        <h4>
                                            {{s.id}}
                                        </h4>
                                    </td>
                                    <td>
                                        <h4>
                                            {{s.tasneef_name}}
                                        </h4>
                                    </td>
                                    <td>
                                        <button ng-click="update(s.id,s.tasneef_name,s.mainId)" class="btn btn-sm btn-success" data-toggle="modal" data-target="#update">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </button>

                                    </td>
                                    <td>
                                        <button ng-click="get_sub(s.id,s.tasneef_name,s.mainId)" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete">
                                            <i class="fa fa-remove fa-lg"></i>
                                        </button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section>

        <!--main content end-->
    </section>


    <div id="delete" class="modal fade" role="dialog" style="background-color: rgba(25, 23, 23, 0.49); ">
        <div class="modal-dialog modal-sm" style="top:25%">
            <div class="modal-content">

                <div class="modal-body text-left">
                    <center>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <br />
                        <h4 style="color:crimson"> هل تريد حذف هذا التصنيف؟</h4>
                    </center>

                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">الغاء</button>
                        <button type="submit" class="btn btn-danger btn-sm" ng-click="delete()" data-dismiss="modal">حذف</button>
                    </center>
                </div>
            </div>

        </div>
    </div>

    <!--===============================================================-->
    <div id="add" class="modal fade left" role="dialog" style="top: 15%; background-color: transparent !important">
        <div class=" modal-dialog" style="width: 400px; background-color: transparent !important">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="text-center" style="color: #5c4f4f"> اضافه تصنيف فرعي </h4>
                </div>
                <div class="modal-body text-left">
                    <center>
                        <br />
                        <table>

                            <tr>

                                <td style="border:0px">
                                    <select style="border-radius:0px" ng-model="main" class="form-control" dir="rtl" ng-options="x2.id as x2.tasneef_name for x2  in all_main_category"></select>
                                </td>

                                <td style="border:0px">
                                    <h4 style="margin-left:20px">التصنيف الرئيسي</h4>
                                </td>

                            </tr>

                            <tr>

                                <td style="border:0px">

                                    <input ng-model="name" type="text" class="form-control" style="border-radius:0px" dir="rtl" />

                                </td>
                                <td style="border:0px">
                                    <h4 style="margin-left:20px">التصنيف الفرعي</h4>
                                </td>

                            </tr>


                        </table>
                        <br />  <hr />
                        <center>
                            <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">الغاء</button>
                            <button type="submit" class="btn btn-info btn-sm" ng-click="add()" data-dismiss="modal">اضافه</button>
                        </center>

                    </center>

                </div>

            </div>

        </div>
    </div>
    <!--===============================================================-->
    <div id="update" class="modal fade left" role="dialog" style="top: 15%; background-color: transparent !important">
        <div class=" modal-dialog" style="width: 400px; background-color: transparent !important">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="text-center" style="color: #5c4f4f"> تعديل بيانات التصنيف فرعي </h4>
                </div>
                <div class="modal-body text-left">
                    <center>
                        <br />
                        <table>

                            <tr>

                                <td style="border:0px">
                                    <select style="border-radius:0px" ng-model="main2" class="form-control" dir="rtl" ng-options="x2.id as x2.tasneef_name for x2  in all_main_category"></select>
                                </td>

                                <td style="border:0px">
                                    <h4 style="margin-left:20px">التصنيف الرئيسي</h4>
                                </td>

                            </tr>

                            <tr>

                                <td style="border:0px">

                                    <input ng-model="name2" type="text" class="form-control" style="border-radius:0px" dir="rtl" />

                                </td>
                                <td style="border:0px">
                                    <h4 style="margin-left:20px">التصنيف الفرعي</h4>
                                </td>

                            </tr>


                        </table>
                        <br />  <hr />
                        <center>
                            <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">الغاء</button>
                            <button type="submit" class="btn btn-danger btn-sm" ng-click="updateDB()" data-dismiss="modal">تعديل</button>
                        </center>

                    </center>

                </div>

            </div>

        </div>
    </div>
    <!--================================================================-->
    @{Html.RenderPartial("../management/_scriptPartial");}


</body>
</html>



